@using HospitalApp.Services.Interfaces;
@model IEnumerable<Doctor>
@inject IDoctorService doctorService

<div class="main-content">
        <h1>Search doctors</h1>
        <div class="filters">

            
            <div class="specialty-input">
            @using (Html.BeginForm("Filter", "Doctor"))
            {
                <p>
                    <input name="name" class="select_inputs" type="text" placeholder="Enter doctors name">
                    <input name="surName" class="select_inputs" type="text" placeholder="Enter doctors surname">
                    <select class="select_inputs" name="speciality">
                        <option value = "">-</option>
                        @foreach (var doctor in doctorService.GetDoctors().DistinctBy(n => n.Specialty))
                        {
                            <option value="@doctor.Specialty">
                                @doctor.Specialty
                            </option>

                        }
                    </select>
                    <select class="select_inputs" name="duration" id="duration">
                            <option value = "">-</option>
                        @foreach (var duration in doctorService.GetDoctors().DistinctBy(n => n.VisitDuration))
                        {
                            <option value="@duration.VisitDuration">
                               @duration.VisitDuration
                            </option>
                        }                     
                    </select>


                    <input class="button"type="submit" value="Search" />
                </p>
            }
            </div>

        </div>
        <div class="doctors-main">
        @foreach (var doctor in Model)
        {
                        <div class="doctor-profile">
                            <img class="doctor-img" src="@Url.Action("GetDoctorImage","Doctor",new {id=doctor.Id})" width="150" height="150">
                            <div class="doctor-info">
                                <h2 class="doctor-name">@doctor.Name @doctor.SurName</h2>
                                    <h3 class="doctor-specialty">@doctor.Specialty</h3>
                                <h4 class="doctor-visit-duration">@doctor.VisitDuration</h4>

                            </div>

                            <form asp-controller="Admin" asp-action="ChooseDoctor" asp-route-id="@doctor.Id">
                                <input class="button" type="submit" value="register" />
                            </form>
                            <form asp-controller="Doctor" asp-action="EditDoctor" asp-route-id="@doctor.Id">
                                <input class="button" type="submit" value="edit" />
                            </form>
                            <form asp-action="DeleteDoctor" asp-route-id="@doctor.Id">
                                <input class="button" type="submit" value="delete" />
                            </form>

                        </div>

        }



        </div>

        </div>

