@using HospitalApp.ViewModels
@model VisitViewModel

<div style="display:flex">
    
    <div>
        @ViewBag.doctor.Name &nbsp;
    </div>
    <div>
        @ViewBag.doctor.SurName &nbsp; 
    </div>
    <div>
        @ViewBag.doctor.Specialty  &nbsp;
    </div>
    <div>
        @ViewBag.doctor.VisitDuration &nbsp;
    </div>
</div>

<form asp-controller="Admin" asp-action="RegisterToDoctor">
    <input asp-for="DoctorId" value="@ViewBag.doctor.Id" style="display:none"/>
   <div class="main-create">
        <h1>Create Visit</h1>
        <form action="#" class="visitInfo">
            <div class="field">
                <input type="text" asp-for="PatientName" placeholder="Enter your name" required>
            </div>
            <div class="field">
                <input type="text" asp-for="PatientSurName" placeholder="Enter your surname" required>
            </div>
            <div class="field">
                <input type="date" asp-for="DateOfBirth" placeholder="Date of birth" required>
            </div>
            <div class="field">
                <input type="text" asp-for="ReasonOfVisit" placeholder="Reason of the visit" required>
            </div>
            <div class="field">
                <input type="date" asp-for="DayOfVisit" placeholder="Day of visit" required>
            </div>
            <div class="field">
                <input type="time" asp-for="TimeOfVisit" placeholder="Time of the visit" required>
            </div>
     
            <small> Hospital hours are 9 am to 5 pm</small>
            <input class="button_create" type="submit" value="Create"/> 
        </form>

    </div>

    
</form>




