@model List<Visit>


@foreach (var visit in Model)
{
    <div>Doctors name: @visit.doctor.Name</div>
    <div>SurName: @visit.doctor.SurName</div>
    <div>Specialty: @visit.doctor.Specialty</div>
    <div>Patients name: @visit.patient.Name</div>
    <div>Patients Surname: @visit.patient.SurName</div>
    <div>Reason of the visit: @visit.ReasonOfVisit</div>
    
}
